<aside class="side-menu">
  <div class="menu-header">Настройки системы</div>
  <nav class="menu-list">
    <div *ngFor="let item of menuItems">
      <div
        class="menu-item"
        [class.with-submenu]="hasSubmenu(item)"
        [class.single]="!hasSubmenu(item)"
        [class.expanded]="isMenuExpanded(item.id)"
        [class.active]="isActiveRoute(item.route || '')"
        [class.active-parent]="isActiveParent(item)"
        (click)="onMenuItemClick(item)">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </div>

      <div *ngIf="hasSubmenu(item) && isMenuExpanded(item.id)" class="submenu" [attr.data-parent]="item.id">
        <div *ngFor="let subItem of item.submenu">
          <div
            class="submenu-item"
            [class.with-submenu]="hasSubmenu(subItem)"
            [class.active]="isActiveRoute(subItem.route || '')"
            [class.active-parent]="isActiveParent(subItem)"
            [class.expanded]="isMenuExpanded(subItem.id)"
            (click)="onSubmenuItemClick(subItem, $event)">
            <span>{{ subItem.label }}</span>
          </div>

          <div *ngIf="hasSubmenu(subItem) && isMenuExpanded(subItem.id)" class="nested-submenu">
            <div
              *ngFor="let nestedItem of subItem.submenu"
              class="nested-submenu-item"
              [class.active]="isActiveRoute(nestedItem.route || '')"
              (click)="onNestedSubmenuItemClick(nestedItem.route, $event)">
              <span>{{ nestedItem.label }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</aside>
