<aside class="side-menu">
  <nav class="menu-list">
    <div *ngFor="let item of menuItems">
      <div
        class="menu-item"
        [class.with-submenu]="hasSubmenu(item)"
        [class.single]="!hasSubmenu(item)"
        [class.expanded]="isMenuExpanded(item.id)"
        [class.active]="isActiveRoute(item.route || '')"
        [class.active-parent]="isActiveParent(item)"
        (click)="onMenuItemClick(item)">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
        <mat-icon *ngIf="hasSubmenu(item)" class="expand-icon">chevron_right</mat-icon>
      </div>

      <div *ngIf="hasSubmenu(item) && isMenuExpanded(item.id)" class="submenu" [attr.data-parent]="item.id">
        <div
          *ngFor="let subItem of item.submenu"
          class="submenu-item"
          [class.active]="isActiveRoute(subItem.route)"
          (click)="onSubmenuItemClick(subItem.route); $event.stopPropagation()">
          <span class="submenu-indicator"></span>
          <span>{{ subItem.label }}</span>
        </div>
      </div>
    </div>
  </nav>
</aside>
