<mat-form-field class="resto-autocomplete-field" [class.table-mode]="isTable">
  <mat-label *ngIf="label && !isTable">{{ label }}</mat-label>

  <input
    matInput
    [formControl]="searchControl"
    [matAutocomplete]="auto"
    [placeholder]="isTable ? label : ''"
    (blur)="onBlur()"
    [disabled]="disabled"
  />

  <mat-spinner
    *ngIf="loading"
    matSuffix
    diameter="20"
    class="spinner-suffix"
  ></mat-spinner>

  <ng-container *ngIf="suffixTemplate && !loading" matSuffix>
    <ng-container *ngTemplateOutlet="suffixTemplate"></ng-container>
  </ng-container>

  <mat-error *ngIf="hasError && errorMessage">
    {{ errorMessage }}
  </mat-error>

  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="onOptionSelected($event.option.value)"
    class="resto-autocomplete-panel"
  >
    <ng-container *ngIf="!useVirtualScroll && !useGroups">
      <mat-option
        *ngFor="let option of filteredOptions"
        [value]="option"
        class="resto-option"
      >
        <div class="option-content">
          <div class="option-avatar" *ngIf="hasAvatarIcon">
            <ng-container *ngIf="getImageUrl(option); else avatarFallback">
              <img [src]="getImageUrl(option)" [alt]="getOptionDisplay(option)" class="avatar-image" />
            </ng-container>
            <ng-template #avatarFallback>
              <div class="avatar-text" *ngIf="!getIconName(option)">
                {{ getAvatarText(option) }}
              </div>
              <mat-icon *ngIf="getIconName(option)" class="avatar-icon">
                {{ getIconName(option) }}
              </mat-icon>
            </ng-template>
          </div>

          <div class="option-text">
            <div class="option-primary">{{ getOptionDisplay(option) }}</div>
            <div class="option-secondary" *ngIf="secondaryTextField">
              {{ getSecondaryText(option) }}
            </div>
          </div>
        </div>
      </mat-option>
    </ng-container>

    <ng-container *ngIf="useVirtualScroll && !useGroups">
      <cdk-virtual-scroll-viewport
        [itemSize]="optionItemSizeInPx"
        class="virtual-scroll-viewport"
        [style.height.px]="Math.min(filteredOptions.length * optionItemSizeInPx, 256)"
      >
        <mat-option
          *cdkVirtualFor="let option of filteredOptions"
          [value]="option"
          class="resto-option"
        >
          <div class="option-content">
            <div class="option-text">
              <div class="option-primary">{{ getOptionDisplay(option) }}</div>
            </div>
          </div>
        </mat-option>
      </cdk-virtual-scroll-viewport>
    </ng-container>

    <ng-content select="resto-custom-autocomplete-footer"></ng-content>
  </mat-autocomplete>
</mat-form-field>
